html, body {
    margin: 0;
    padding: 0;
}

#top-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #606060;
}

#left-panel {
    position: absolute;
    top: 10%;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #808080;
    border-right: 2px solid #000000;
    overflow: scroll;
}

#left-panel-quick-search {
    width: 100%;
}

#right-panel {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #888888;
}

.right-panel-output {
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #aaaaaa;
    overflow: scroll;
}

.output-line {
    margin: 0;
}

#event-item {
    position: relative;
    background-color: #aaaaaa;
    width: 100%;
    height: 25px;
    font-size: 12px;
}

#event-item p {
    margin-top: 2px;
}

#event-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

#results-item {
    position: relative;
    background-color: #666666;
    height: 20px;
    width: 100%;
    border: 2px solid #000000;
    margin: 0;
    padding: 0;
    padding-top: 2px;
}

#results-item p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

pre {
    padding: 5px;
    margin: 5px;
}

.string { }
.number { }
.boolean { color: blue; }
.null { }
.key { color: #006600; }
