<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="top-panel">
                <div>
                    <input id="userId" placeholder="user-id" />
                </div>
                <div>
                    <button v-on:click="onSaveSession">Save session</button>
                    <button v-on:click="onLoadSession">Load session</button>
                    <button v-on:click="onLoadTestSession">Load test session</button>
                    <button v-on:click="onClearEvents">Clear</button>
                </div>
            </div>

            <div id="left-panel">
                <input
                    @keyup.enter="onQuickSearch"
                    @keyup.escape="onQuickSearchReset"
                    id="left-panel-quick-search"
                    placeholder="<quick-search>" />

                <div id="event-item" v-for="event in events" v-on:click="onShowEvent(event.idx)">
                    <p v-on:click="onShowEvent(event.idx)">{{ event.label }}</p>
                </div>
            </div>

            <div id="right-panel">
                <div id="output-panel" class="right-panel-output">
                    <div id="results-item" v-for="result in results">
                        <p>{{ result.label }}</p>
                    </div>

                    <pre id="output" class="output-line" />
                </div>
            </div>
        </div>

        <script src="index.js"></script>
    </body>
</html>
